body {
    background-color: black;
}

#intro {
    width: 100vw;
    height: 100vh;
    background-image: url("https://getwallpapers.com/wallpaper/full/7/c/7/992715-widescreen-fractals-wallpaper-1920x1080-for-xiaomi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 50px 25px #282a2d;
    text-align: center;
}

.card {
    border-color: transparent;
    border-style: none;
    background: linear-gradient(48deg, rgba(2,0,36,1) 0%, rgba(21,6,77,0.8464635854341737) 45%, rgba(0,212,255,1) 100%);
}

div > h3, h1 , p{
    color: white;
}

.login-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mx-auto {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:any-link {
    color: white;
    text-decoration: none;
}

label {
    color: white;
}

.form-check {
    display: inline-block;
}